{% extends "layouts/base.html" %}
{% import 'macros/form_macro.html' as f %}

{% block title %}Request Forwarder{% endblock %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h2 class="title">Request forwarder </h2>
    </div>
    <h5>Input url: {{ host }}/create-forward/{{ proxy_uuid }} </h5>
    <div class="header">
        <div class="header">
            <h3>Add an outgoing url: </h3>
          {% set flashes = {
              'error':   get_flashed_messages(category_filter=['form-error']),
              'warning': get_flashed_messages(category_filter=['form-check-email']),
              'info':    get_flashed_messages(category_filter=['form-info']),
              'success': get_flashed_messages(category_filter=['form-success'])
          } %}

          {{ f.begin_form(form, flashes) }}
          <div class="two fields">
                          {{ f.render_form_field(form.outgoing_url) }}
          </div>
          </div>
            </div>
        {{ f.form_message(flashes['error'], header='Something went wrong.', class='error') }}
        {{ f.form_message(flashes['warning'], header='Check your email.', class='warning') }}
        {{ f.form_message(flashes['info'], header='Information', class='info') }}
        {{ f.form_message(flashes['success'], header='Success!', class='success') }}

        {{ f.render_form_field(form.submit) }}
        {{ f.end_form(form) }}
</div>
{% endblock %}
